In [12]:
import pandas as pd
import json
import seaborn as sns

# 1. Load data

In [39]:
# Load clean data
with open("clean_data.csv", "r") as f:
    df = pd.read_csv(f)
with open("partial_labels.csv","r") as f:
    partial_labels_df = pd.read_csv(f)

In [40]:
partial_labels_df

        female_flag   customer_id
0                 0  3.017372e+09
1                 0  3.018459e+09
2                 0  3.020737e+09
3                 0  3.020872e+09
4                 0  3.020897e+09
...             ...           ...
103805            1  3.706458e+09
103806            1  3.706571e+09
103807            1  3.706577e+09
103808            1  3.706952e+09
103809            1  3.706954e+09

[103810 rows x 2 columns]

In [43]:
# Merge df with label
# Call this main df because we will later train on this dataset
main_df = pd.merge(df,partial_labels_df, how="inner", left_on="customer_id", right_on="customer_id")

# Drop redundant key label after merged
main_df

,days_since_first_order,days_since_last_order,is_newsletter_subscriber,orders,items,returns,different_addresses,shipping_addresses,devices,vouchers,...,desktop_orders,android_orders,ios_orders,work_orders,home_orders,parcelpoint_orders,coupon_discount_applied,revenue,customer_id,female_flag
0,2773,1929,N,4,4,0,0,2,1,0,...,4,0,0,0,0,0,0.0000,448.54,3.017126e+09,1
1,2767,6,Y,23,36,3,0,3,3,13,...,2,0,13,0,21,0,0.1723,1872.81,3.017185e+09,1
2,2764,18,Y,36,81,22,1,3,2,9,...,19,0,14,16,16,0,0.0413,7131.31,3.017256e+09,1
3,2758,1424,Y,4,11,0,5,2,1,0,...,4,0,0,0,1,0,0.0015,628.58,3.017324e+09,1
4,2757,5,Y,21,58,5,1,4,2,6,...,19,0,0,1,10,0,0.0738,2625.62,3.017372e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103805,2400,1743,N,4,4,0,0,1,2,1,...,1,0,0,0,0,0,0.1049,181.69,3.706852e+09,1
103806,2132,154,N,3,8,0,3,3,1,0,...,3,0,0,0,1,0,0.0022,442.49,3.706952e+09,1
103807,2234,32,Y,187,835,673,28,4,4,55,...,130,5,49,0,170,0,0.2099,68349.19,3.706954e+09,1
103808,2222,1063,Y,3,11,1,9,2,1,0,...,3,0,0,0,1,0,0.0000,679.65,3.706998e+09,0
103809,2082,375,Y,9,10,2,0,2,1,1,...,9,0,0,0,6,0,0.0105,544.63,3.707002e+09,0

# 2. Feature engineering

In [9]:
df["purchase_duration"] = df.days_since_first_order - df.days_since_first_order
df

,Unnamed: 0,days_since_first_order,days_since_last_order,is_newsletter_subscriber,orders,items,returns,different_addresses,shipping_addresses,devices,...,desktop_orders,android_orders,ios_orders,work_orders,home_orders,parcelpoint_orders,coupon_discount_applied,revenue,customer_id,purchase_duration
0,0,2783,1487,N,2,5,0,0,2,1,...,2,0,0,0,0,0,0.0000,468.80,3.017001e+09,0
1,1,2772,1296,N,1,1,0,0,1,1,...,1,0,0,0,1,0,0.0091,109.09,3.017108e+09,0
2,2,2773,1929,N,4,4,0,0,2,1,...,4,0,0,0,0,0,0.0000,448.54,3.017126e+09,0
3,3,2767,6,Y,23,36,3,0,3,3,...,2,0,13,0,21,0,0.1723,1872.81,3.017185e+09,0
4,4,1430,826,N,2,6,0,0,2,1,...,2,0,0,0,2,0,0.0033,301.17,3.017193e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189903,191282,2223,2223,Y,1,1,1,0,1,1,...,1,0,0,0,0,0,0.0000,163.63,3.706982e+09,0
189904,191283,2234,2234,N,1,1,0,0,1,1,...,0,0,0,0,0,0,0.0000,154.50,3.706984e+09,0
189905,191284,2082,252,Y,9,25,6,0,4,2,...,6,0,3,4,3,0,0.1112,990.24,3.706994e+09,0
189906,191285,2222,1063,Y,3,11,1,9,2,1,...,3,0,0,0,1,0,0.0000,679.65,3.706998e+09,0
189907,191286,2082,375,Y,9,10,2,0,2,1,...,9,0,0,0,6,0,0.0105,544.63,3.707002e+09,0

So in the last time we're able to label ~54% of the dataset based on 2 features which are `male_items` and `female_items`. However, other features might also contribute to the gender, however it is not clear in a form of low order statistics, we don't even have labels! This is where deep learning shines. 
Later, we will build a representation model on contrastive learning. Then use that to predict the other half uncertainty.

For now we're preparing some useful features for the model.

In [4]:
male_df = df
print(f)

<_io.TextIOWrapper name='partial_labels.csv' mode='r' encoding='UTF-8'>